<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="FilePath" value="D:\R\Drives\R.B.T\9999_LWFFK\YT_URLs.csv" />
    <add key="WaitForEachURLTillURLisComplete" value="False" />
    <add key="KillBrowserForEachURL" value="False" />
    <add key="TimeDelayAfterOpeningURLinSeconds" value="20" />
    <add key="NumberOfTimeToLoopWatching" value="1" />
    <add key="ShutdownAfterAllWorkIsDone" value="False" />
  </appSettings>
</configuration>