<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="WaitForEachURLTillURLisComplete" value="True" />
    <add key="KillBrowserForEachURL" value="True" />
    <add key="TimeDelayAfterOpeningURLinSeconds" value="10" />
    <add key="NumberOfTimeToLoopWatching" value="1" />
    <add key="NumberOfTimesToOpenURLAtOnce" value="1" />
    <add key="AllowMediaAutoPlay" value="False" />
    <add key="DisableMediaAutoPlay" value="True" />
    <add key="TimeDelayBeforeClosingURLAfterCompletioninSeconds" value="20" />
    <!--DEBUGGING-->
    <add key="ShutdownAfterAllWorkIsDone" value="False" />
    <add key="MuteSystem" value="False" />
    <add key="KillBrowserFirstTimeBeforeLoading" value="False" />
  </appSettings>
</configuration>