<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="MouseClick" value="True" />
    <add key="NumberOfMouseClicksToPerform" value="3" />
    <add key="WaitForEachURLTillURLisComplete" value="True" />
    <add key="OpenExternalHelperApplications" value="True" />
    <add key="KillBrowserForEachURL" value="True" />
    <add key="TimeDelayAfterOpeningURLinSeconds" value="10" />
    <add key="NumberOfTimeDelayAfterOpeningURLinSecondsToWaitAtEnd" value="7" />
    <add key="NumberOfTimeToLoopWatching" value="1" />
    <add key="NumberOfTimesToOpenURLAtOnce" value="1" />
    <add key="AllowMediaAutoPlay" value="False" />
    <add key="DisableMediaAutoPlay" value="True" />
    <add key="TimeDelayBeforeClosingURLAfterCompletioninSeconds" value="5" />
    <!--AZURE NEW VM
    <add key="XPOS" value="355" />
    <add key="YPOS" value="394" />-->
    <!--DESKTOP-->
    <add key="XPOS" value="493" />
    <add key="YPOS" value="369" />
    <!--DEBUGGING-->
    <add key="ShutdownAfterAllWorkIsDone" value="False" />
    <add key="MuteSystem" value="False" />
    <add key="KillBrowserFirstTimeBeforeLoading" value="False" />
  </appSettings>
</configuration>