<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="FilePath" value="D:\repos-m\all-tools-utilities\OpenYTInVM\CSV\YT_URLs.csv" />
    <add key="MouseClick" value="True" />
    <add key="NumberOfMouseClicksToPerform" value="3" />
    <add key="WaitForEachURLTillURLisComplete" value="False" />
    <add key="OpenExternalHelperApplications" value="True" />
    <add key="KillBrowserForEachURL" value="False" />
    <add key="TimeDelayAfterOpeningURLinSeconds" value="60" />
    <add key="NumberOfTimeDelayAfterOpeningURLinSecondsToWaitAtEnd" value="0" />
    <add key="NumberOfTimeToLoopWatching" value="1" />
    <add key="NumberOfTimesToOpenURLAtOnce" value="1" />
    <add key="AllowMediaAutoPlay" value="False" />
    <add key="DisableMediaAutoPlay" value="True" />
    <add key="TimeDelayBeforeClosingURLAfterCompletioninSeconds" value="0" />
    <!--AZURE NEW VM
    <add key="XPOS" value="355" />
    <add key="YPOS" value="394" />-->
    <!--DESKTOP
    <add key="XPOS" value="458" />
    <add key="YPOS" value="403" />-->
    <!--Search-LAPTOP-NEW-->
    <add key="XPOS" value="440" />
    <add key="YPOS" value="297" />
    <!--PROD-->
    <add key="ShutdownAfterAllWorkIsDone" value="False" />
    <add key="MuteSystem" value="True" />
    <add key="KillBrowserFirstTimeBeforeLoading" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>